<div class="signup-form">
  <%= form_for @venue do |f| %>
      <div class="form-group">
        <%= f.text_field 'name', class: 'form-control', placeholder: 'Name Event' %>
      </div>
      <div class="form-group">
        <%= f.text_area 'full_address', class: 'form-control', placeholder: 'Name Event' %>
      </div>
      <div>
        <%= f.label :region %>
        <%= f.select :region_id, Region.all.map { |region| [region.name, region.id] }, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-block btn-info' %>
      </div>
  <% end %>
</div>